.container
{
	margin-top : 120px;
}

.titrePage
{
	font-style : 18px;
	padding-bottom : 3px;
	margin-bottom : 50px;
	border-bottom : 1px solid yellow;
}

.bt-jaune
{
	background-color : yellow;
	opacity : 0.5;
	border : 1px solid #111111;
	color : black;
}

.bt-jaune:hover
{
	background-color : #EEEE00;
	opacity : 0.5;
	border : 1px solid #111111;
	color : black;
}

.titreCatMenu
{
	color:white;
	font-weight:bold;
	margin-left : 74px;
}

.titreCatMenu
{
	cursor : pointer !important;
}

._map_point_clicker
{
	height : 30px !important;
	line-height : 30px !important;
	font-size : 12px !important;
	cursor : pointer;
}

#bt-menu li.active
{
	color : yellow !important;
}

._add_to_itineraire{
	outline: none;
	float: right;
	color: #fff;
	border: 1px solid #9EC5E6;
	background: #337AB7;
	padding: 5px 12px 5px 12px;
	border-radius: 2px;
}

._add_to_itineraire.remove{
	border: 1px solid #E69E9E;
	background: #DE4040;
}

p#MaxPointLabel{
	display: none;
	color: #fff;
	background: #F73838;
}